In [2]:
import pandas as pd
df = pd.read_excel(r'Historical Gas Prices.xls', sheet_name='Data 2', header=2)
df.drop(df.columns[1],inplace=True,axis=1)
df.dropna(axis=0, how="any", inplace=True)
df["Year"] = df["Date"].dt.strftime('%Y')
df["Date"] = df["Date"].dt.strftime('%Y%m%d')
df.rename(columns={df.columns[1]: "New_England_Prices",df.columns[2]: "Central_Atlantic_Prices",df.columns[3]: "Lower_Atlantic_Prices",df.columns[4]: "Midwest_Prices",df.columns[5]: "Gulf_Coast_Prices",df.columns[6]: "Rocky_Mountain_Prices",df.columns[7]: "West_Coast_Prices",df.columns[8]: "West_Coast_No_Cali_Prices"}, inplace=True)
df

          Date  New_England_Prices  ...  West_Coast_No_Cali_Prices  Year
314   19980518               1.078  ...                      1.162  1998
315   19980525               1.084  ...                      1.170  1998
316   19980601               1.083  ...                      1.166  1998
317   19980608               1.084  ...                      1.162  1998
318   19980615               1.085  ...                      1.160  1998
...        ...                 ...  ...                        ...   ...
1478  20200907               2.151  ...                      2.572  2020
1479  20200914               2.130  ...                      2.568  2020
1480  20200921               2.124  ...                      2.546  2020
1481  20200928               2.114  ...                      2.530  2020
1482  20201005               2.101  ...                      2.513  2020

[1169 rows x 10 columns]

In [3]:
df.to_csv('CleanHistGasPrices.csv', index=False)